exportClasses(
   SingleGeneAnalyzer
)

export(
   SingleGeneAnalyzer,
   dataFrameToPandasFriendlyList
   )

exportMethods(
   summarizeExpressionMatrices,
   getFootprintsInRegion
   )

import(trena)
importFrom(trena, parseChromLocString)
