exportClasses(
   SingleGeneAnalyzer
)

export(
   SingleGeneAnalyzer,
   dataFrameToPandasFriendlyList
   )

exportMethods(
   summarizeExpressionMatrices,
   getFootprintsForRegion,
   getVariantsForRegion,
   getDHSForRegion,
   getEnhancersForRegion,
   findVariantsInModelForRegion
   )

import(trena)
importFrom(trena, parseChromLocString)
