exportClasses(
   SingleGeneAnalyzer
)

export(
   SingleGeneAnalyzer,
   dataFrameToPandasFriendlyList
   )

exportMethods(
   summarizeExpressionMatrices,
   getRegulatoryModelNames,
   getRegulatoryModel,
   getFootprintsForRegion,
   getVariantsForRegion,
   getWholeGenomeVariantsForRegion,
   getDHSForRegion,
   getEnhancersForRegion,
   findVariantsInModelForRegion,
   findMotifsInRegion
   )

import(trena)
importFrom(trena, parseChromLocString)
